.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #e44d3a;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    
}

.postImg {
    padding: 30px;
}

.postImg img{
    height: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.button {
    margin-right: 30px;
}
