.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #e44d3a;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    
}

.postImg {
    padding: 30px;
}

.postImg img{
    height: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.buttons button {
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 500;
    border-radius: 3px;
}

.button1 {
    margin-right: 15px;
    color: #b2b2b2;
    background-color: #e5e5e5;
}

.button2 {
    background-color: #e44d3a;
    color: white;
}

