.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #e44d3a;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    
}

.postImg {
    padding: 30px;
}

.postImg img{
    height: 50px;
}

.button1  {
    display: flex;
    align-items: center;
    
}

.button2  {
    display: flex;
    align-items: center;
    
}
