.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postImg {
    padding: 30px;
}

.postImg img{
    height: 50px;
}

.buttons  {
    display: flex;
    align-items: center;
}


