.logo {
    margin-right: 20px;
    height: 34px;
    width: auto;
}

@media screen and (min-width: 200px) and (max-width: 576px){
    .logo {
        display: flex;
        justify-content: center;
    }
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e44d3a;
    height: auto
}

@media screen and (max-width: 576px) {
    .header {
        height: auto;
    }
}


.container {
    max-width: 1140px;
    width: 100%;
    height: 56px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    color: white;
}


@media screen and (min-width: 768px) and (max-width: 1200px){
    .container {
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        box-sizing: none;
    }
}




@media screen and (min-width: 570px) and (max-width: 767px){
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 990px) {
    .left {
        flex: 1 1 auto;
        max-width: 400px;
    }
}

@media screen and (max-width: 576px) {
    .left {
        display: flex;
        flex-direction: column;
    }
}

.right {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 576px) {
    .rigth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
}

.search {
    box-sizing: border-box;
    min-width: 400px;
}
