.container {
    display: flex;
    border-left: 1px solid #dd3e2b;
    border-right: 1px solid #dd3e2b;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.avatar {
    height: 30px;
    width: auto;
    margin: 0;
    margin-right: 10px;
}

.name {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.icon {
    height: 10px;
    width: 10px;
}