.icon {
    height: 10px;
    width: 10px;
    padding-top: 24px;
    padding-left: 85px;
}

.action {
    position: absolute;
    top: 100%;
    right: 0;
}

@media screen and (max-width: 576px) {
    .action {
        left: 0;
    }
}

.action .profile {
    overflow: hidden;
    cursor: pointer;
}

.action .menu {
    background: white;
    width: 238px;
    transition: 0.5s;
    border-radius: 0 0 5px 5px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}


.menu h3 {
    padding: 15px 20px;
    margin: 0;
}

.h3Border {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.h3Setting {
    border-bottom: 1px solid #e5e5e5;
}


.action .menu:active {
    visibility: visible;
    opacity: 1;
}

.action .menu h3 {
    font-size: 15px;
}

h3 {
    color: black;
    
}

label {
    color: #686868;
    padding-left: 7px;
    font-size: 14px;
}

.statusForm ul {
    list-style: none;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 15px;
}

.otLi {
    padding-bottom: 15px;
}

.posleLi {
    padding-bottom: 15px;
}


.searchSm {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.searchSm input {
    background-color: #f2f2f2;
    height: 35px;
    z-index: 9;
}

.setting a {
    padding: 5px;
    text-align: left;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.setting {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.statusForm {
    color: black;
}

.h3Logout {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
