.icon {
    height: 10px;
    width: 10px;
    padding-top: 24px;
    padding-left: 85px;
}

.action {
    position: fixed;

}

.action .profile {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* .action .profile img {
    position: absolute;
    
} */

.action .menu {
    background: white;
    position: absolute;
    top: 56px;
    width: 200px;
    transition: 0.5s;
}

.menu h3 {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    /* float: left; */
}

.action .menu::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
}

.action .menu:active {
    visibility: visible;
    opacity: 1;
}

.action .menu h3 {
    text-align: center;
    font-size: 15px;
}

h3 {
    color: black;
    
}

ul {
    list-style: none;
}

.onOffStatus {
    padding: 20px;
    /* float: left; */
    border-bottom: 1px solid #e5e5e5;
}

.fgtSec small{
    font-size: 14px;
    margin-left: 10px;
    color: #686868;
}

.search {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    
}

input {
    background-color: #f2f2f2;
}

.setting a {
    padding: 5px;
    text-align: left;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.setting {
    border-bottom: 1px solid #e5e5e5;
}