/* .user {
} */

.bg {
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.firstS {
    background-color: #e44d3a;
    
}

.imgUser {
    padding-top: 25px;

}

.firstS img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -68px;
    float: none;
    border: 5px solid #fff;
    border-radius: 100px;
}


.secondS {
    background-color: white;
}

.name {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.ob {
    font-size: 14px;
    text-align: center;
    color: #686868;
    font-weight: 500;
    padding-bottom: 30px;
    margin: 0;
}

.userStatus {
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    
}

.userStatus li h3 {
    font-size: 20px;
    color: #686868;
    margin-bottom: 10px;
    font-weight: 500;
    
}

.userStatusItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding: 15px;
}

.userStatusItem a {
    text-decoration: none;
    color: #e44d3a;
}
