.user {
    width: 260px;
    padding-top: 40px;
    height: 110px;
}

.bg {
    background-color: #fff;
}

.firstS {
    background-color: #e44d3a;
    
}

.imgUser {
    padding-top: 25px;

}

.firstS img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -68px;
    float: none;
    border: 5px solid #fff;
    border-radius: 100px;
}


.secondS {
    background-color: white;
}

.name {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.ob {
    font-size: 14px;
    text-align: center;
    color: #686868;
}

.userStatus {
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.userStatus li h3 {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 20px;
    color: #686868;
    margin-bottom: 10px;
}

/* .userStatus span {
    
} */