.list {
    display: none;
    fill: white;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}


@media screen and (max-width: 1200px){
    .list {
     display: flex; 
    }
}