.comments {
    background-color: white;
    /* border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; */
}

.childComment {
    padding-left: 30px;
}