a {
    text-decoration: none;
    color: white;
}

.li {
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 23px;
}

p {
    /* padding-right: 16px; */
    margin-top: -4px;
    font-size: 15px;
}