.suggestions {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.suggestions a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 15px;
}

.name {
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    
}

.firstSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.iconSvg {
    fill: #e5e5e5;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
}

.secondSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information {
    display: flex;
    justify-content: start;
    align-items: center;
}

.secondSection img {
    height: 35px;
    width: 35px;
    margin: 10px;
}


.nameAndJob h4 {
    padding: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.nameAndJob p {
    color: #686868;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.buttonPlus {
    display: flex;
    justify-content: center;
}

.button {
    margin: 15px;
}