:root {
  --tablet: (min-width: 990px) and (max-width: 1200px);
  --main-color: #e44d3a;
}

.app-wrapper {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}