.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
    padding-left: 412px;

}
 .new {
     display: flex;
 }